<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div align="center">
<body>

<!--th:object="${mentor}" is called Command Object. It is used for empty class objects
comes from MentorController: model.addAttribute("mentor", new Mentor());
th:action="@{/mentor/confirm} means when I click Register button: Go to this end point
-->

<form th:action="@{/mentor/confirm}" method="post" th:object="${mentor}">

<label>First Name:</label>
<input type="text" th:field="*{firstName}">

<br>
<label>Last Name:</label>
<input type="text" th:field="*{lastName}">

<br>
<label>Email:</label>
<input type="email" th:field="*{email}">

<br>
<label>Graduated:</label>
<input type="checkbox" th:field="*{graduated}">

<br>
<label>Gender:</label>
<input type="radio" value="Male" th:field="*{gender}">Male
<input type="radio" value="Female" th:field="*{gender}">Female

<!--  theBatch is just name for each loop. *{batch} is object from Mentor class. batchList is list in MentorController-->
<br>
<label>Batch #:</label>
  <select th:field="*{batch}">
    <option th:each="theBatch : ${batchList}" th:value="${theBatch}" th:text="${theBatch}"></option>
  </select>

  <br>
  <label>Company:</label>
  <textarea th:field="*{company}"></textarea>
  <button type="submit">Register</button>
</form>

</body>
</div>
</html>